<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daring SMKN 2 Sukoharjo</title>
    <!-- prettier-ignore -->
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="flex items-center justify-center h-full text-gray-500 bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white rounded-md shadow-md">
      <form action="/" method="POST">
        <label for="username" class="block mt-4 mb-1">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="w-full px-2 py-1 border border-gray-300 rounded"
        />
        <label for="password" class="block mt-4 mb-1">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="block w-full px-2 py-1 mb-2 border border-gray-300 rounded"
        />
        <input type="checkbox" name="remember_me" id="remember_me" checked>
        <label for="remember_me">Remember me?</label>
        <div class="flex items-center mt-4">
          <div class="flex-auto"></div>
          <a href="#" class="ml-auto mr-2">Lupa password?</a>
          <input type="submit" value="Login" class="px-4 py-2 text-gray-100 bg-gray-700 rounded" />
        </div>
      </form>
    </div>
  </body>
</html>
