<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daring SMKN 2 Sukoharjo</title>
    <!-- prettier-ignore -->
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="flex flex-col items-center justify-center h-full py-2 text-gray-500 bg-gray-100">
    <div class="w-full max-w-md p-8 my-2 bg-white rounded-md shadow-md">index guru</div>
    <form action="/guru" method="post">
      <button type="submit" class="px-2 py-1 text-gray-100 bg-gray-800 rounded">logout</button>
    </form>
  </body>
</html>
