<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daring SMKN 2 Sukoharjo</title>
    <!-- prettier-ignore -->
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>
  <body class="text-gray-500 bg-gray-100">
    <div class="container w-full max-w-md p-8 mx-auto mt-8 bg-white rounded-md shadow-md">
      <form action="/register" method="get">
        <button type="submit" class="w-full px-2 py-1 mb-2 text-gray-100 bg-gray-700 rounded">
          Add User
        </button>
      </form>
      <form action="/admin" method="post" class="flex items-center justify-end mt-2">
        <span class="capitalize">[{{ auth.user.user_type }}]</span>
        <span class="ml-1 capitalize">{{
          auth.user.full_name.length > 18
            ? auth.user.full_name.substring(0,18) + "..."
            : auth.user.full_name
        }}</span>
        <button type="submit" class="px-2 py-1 ml-4 text-gray-100 bg-gray-600 rounded">
          logout
        </button>
      </form>
    </div>
  </body>
</html>
